body{
    display: flex;
    flex-direction: column;
    background-color: rgb(114, 112, 108);
    height:100vh;
    color:rgb(237,233,222);
    margin:0;
}

header{
    flex:0 auto;
    background-color: rgb(96, 160, 79);

}

.navButtons{
    display:inline;
    height:inherit;
    margin-right: 10px;

}
.dayButtons{
    display:inline;
    height:100%;
}

.warm-up{
    background-color: rgb(39, 112, 35);
    margin-bottom: 50px;
}

.dayButton{
    color:rgba(237,233,222);
    font-size: large;
    float: left;
    width:100px;
    margin:5px 0px;
    border:none;
    padding:3px;
    height:fit-content;
    background-color: rgba(96, 160, 79);
}
.navigation{
    color:rgba(237,233,222);
    float: right;
    width:70px;
    margin-top:9px;
    border:none;
    padding:3px;
    background-color: rgba(96, 160, 79);

}
.dayButton:hover{
    background-color:  rgb(39, 112, 35);
}
.navigation:hover{
    background-color: rgb(39, 112, 35);
}
.dayButton:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }
  .navigation:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }

.exercise{
    margin-bottom: 15px;
     margin-top: 15px;
     
}

.exInfo{
    margin-right: 10px;
}

.set{
    margin-right:10px;
}
.exName{
    display: inline-block; 
    white-space: nowrap; 
    width: 200px; 
    overflow: hidden;
    text-overflow: ellipsis;
                    
}

.accordion{
    background-color: rgba(96, 160, 79);
}

.submit{
    margin-top:50px;
    margin-bottom: 15px;
    color:rgb(237,233,222);
    background-color: rgba(96, 160, 79); 
    font-size: larger;
    border-radius: 4px;
    padding:4px 8px;
    border: none;
}
.submit:hover {
    background-color: #4CAF50;
    color: white;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  }
  .submit:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }

main{
    flex:1;
    text-align: center;
    align-items: center;
}

footer{
    flex: 0 40px;
    text-align: center;   
    background-color: rgb(96, 160, 79);       
}
input[type='weight']{
    width: 40px;
}

input[type='number']{
width: 30px;
    /*this might be where i adjust the text box size*/

} 

@media only screen and (max-width: 760px) {
    .dayButtons{
        display: inline-grid; 
        row-gap: 3px;
        grid-template-columns: max-content max-content max-content; 
    }
    .navButtons{
        display: inline-grid; 
        row-gap: 10px;
        grid-template-rows: max-content max-content; 
        float: right;
        
    }
}

@media only screen and (max-width: 540px) {
    .dayButtons{
        display: inline-grid; 
        row-gap: 3px;
        grid-template-columns: max-content max-content max-content; 
    }
    .navButtons{
        display: inline-grid; 
        row-gap: 10px;
        grid-template-rows: max-content max-content; 
        float: right;
        
    }
    .exName{
        background-color: rgb(96, 160, 79);
        width:100%;
    }
    .exInfo{
        display: grid;
        grid-template-rows: auto auto;
        row-gap:5px;
        text-align: center;
    }
    .exercise{
        display: grid;
        grid-template-rows: auto auto;
        row-gap: 5px;
    }
}


@media only screen and (max-width: 400px) {
    header{
        display: none;
    }
    footer{
        display: none;
    }
    .exercise{
        display: grid;
        grid-template-rows: auto auto;
        row-gap: 5px;
    }
}
